{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="row" id="bit_exchange_box" align="center">
        <div id="bit_exchange_results"></div>
        <form id="bit_exchange_form">
            <div class="col-md-6" style="padding-left:25px;padding-right:20px">
                <h2 align="center" style="color: #ffffff;"><i class="fa fa-arrow-down"></i> Send</h2>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1" style="">
						<img src="/assets/images/coin.jpeg" id="bit_image_send" width="25px" height="25px"
                             style="padding:0px;margin:0px;float:left;">
						<select style="background:none;border:none;margin-right: 18px;" id="providerSell"
                                name="bit_gateway_send">
                            <option value="" selected>Select Money</option>
                            {% for moneyProvider in moneyProviders %}
                                <option value="{{ moneyProvider.slug }}" data-sellrate="{{ moneyProvider.sell_rate }}">{{ moneyProvider.name }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <input type="text" class="form-control input-lg" id="dataSellRate"
                           name="bit_amount_send" value="{{ moneyProvider.sell_rate }}">
                    <span class="input-group-addon" id="sizing-addon1"></span>
                </div>
            </div>
            <div class="col-md-6" style="padding-right:25px;padding-left:20px">
                <h2 align="center" style="color: #ffffff;"><i class="fa fa-arrow-up"></i> Receive</h2>
                <div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon1" style="">
						<img src="/assets/images/coin.jpeg" id="bit_image_send" width="25px" height="25px"
                             style="padding:0px;margin:0px;float:left;">
						<select style="background:none;border:none;margin-right: 18px;" id="providerBuy"
                                name="bit_gateway_send">
                            <option value="" selected>Select Money</option>
                            {% for moneyProvider in moneyProviders %}
                                <option value="{{ moneyProvider.slug }}" data-buyrate="{{ moneyProvider.buy_rate }}">{{ moneyProvider.name }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <input type="text" class="form-control input-lg" id="dataBuyRate"
                           name="bit_amount_send" value="{{ moneyProvider.sell_rate }}">
                    <span class="input-group-addon" id="sizing-addon1"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <h5 class="text-muted" align="center" style="color: #ffffff;">Reserve: <span
                                    id="bit_reserve"></span></h5>
                    </div>
                    <div class="col-md-6 text-left">
                        <h5 class="text-muted" align="center" style="color: #ffffff;">Exchange rate:
                            <span id="bit_exchange_rate">-</span></h5>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <input type="hidden" name="bit_amount_receive" id="bit_amount_receive2">
                    <input type="hidden" name="bit_rate_from" id="bit_rate_from">
                    <input type="hidden" name="bit_rate_to" id="bit_rate_to">
                    <input type="hidden" name="bit_currency_from" id="bit_currency_from">
                    <input type="hidden" name="bit_currency_to" id="bit_currency_to">
                    <input type="hidden" id="bit_login_to_exchange" name="bit_login_to_exchange"
                           value="1">
                    <input type="hidden" id="bit_ses_uid" name="bit_ses_uid" value="0">
                    <center>
                        <button id="exchangeBtn" type="button" class="btn btn-primary btn-lg"
                                onclick="/*bit_exchange_step_1();*/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                                    class="fa fa-refresh"></i> Exchange&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>
                    </center>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block featured_section %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="banner rate" style="background: #fff; border-radius: 6px 6px 0px 0px;">
                <div class="title">
                    <h4>Recent Exchange</h4>
                </div>
                <div style="padding: 8px 15px; margin-bottom: 10px;">
                    <table class="table table-bordered table-striped" align="center">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Send</th>
                                <th>Receive</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>2000 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>100 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>2000 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2100 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px"
                                         height="20"> Rocket Personal
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2060 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>2000 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>100 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>2000 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2100 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px"
                                         height="20"> Rocket Personal
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2060 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>2000 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>100 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px"
                                         height="20"> Neteller.
                                </td>
                                <td>2000 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px"
                                         height="20"> Bkash Agent
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2100 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px"
                                         height="20"> Rocket Personal
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2060 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px"
                                         height="20"> Rocket Personal
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2060 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px"
                                         height="20"> Rocket Personal
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2060 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px"
                                         height="20"> Rocket Personal
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2060 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px"
                                         height="20"> Rocket Personal
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2060 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px"
                                         height="20"> Rocket Personal
                                </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px"
                                         height="20"> Skrill.
                                </td>
                                <td>2060 BDT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="title featured-top">
                        <h4>Customer Feedback</h4>
                    </div>
                    <div id="featured-slider" style="background: #fff; border-radius: 6px 6px 0px 0px;">
                        <div class="featured">
                            <div class="ad-info">
                                <h3 class="item-price">
                                    <span class="label label-success" style="color:#fff;">
                                        <i class="fa fa-smile-o"></i> Positive
                                    </span>
                                </h3>
                                <h4 class="item-title">fast and friendly, thanks admin</h4>
                                <div class="item-cat">
                                    <span>sohelparvez33</span>
                                </div>
                            </div>
                        </div>
                        <div class="featured">
                            <div class="ad-info">
                                <h3 class="item-price"><span class="label label-success" style="color:#fff;"><i
                                                class="fa fa-smile-o"></i> Positive</span></h3>
                                <h4 class="item-title">Thanks</h4>
                                <div class="item-cat">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="featured">
                            <div class="ad-info">
                                <h3 class="item-price"><span class="label label-success" style="color:#fff;"><i
                                                class="fa fa-smile-o"></i> Positive</span></h3>
                                <h4 class="item-title">10 minute e $ pelam thank you</h4>
                                <div class="item-cat">
                                    <span>Asrafulhaque</span>
                                </div>
                            </div>
                        </div>
                        <div class="featured">
                            <div class="ad-info">
                                <h3 class="item-price"><span class="label label-success" style="color:#fff;"><i
                                                class="fa fa-smile-o"></i> Positive</span></h3>
                                <h4 class="item-title">I have found this service very easy and helpful. For the first
                                    time I made a payment. Almost everything us unfamiliar to me, but they helped me in
                                    every step in live chat and made everything easy for me. Surely will be use this
                                    awesome website. Highly recommended for everyone.</h4>
                                <div class="item-cat">
                                    <span>tamimalrahman</span>
                                </div>
                            </div>
                        </div>
                        <div class="featured">
                            <div class="ad-info">
                                <h3 class="item-price"><span class="label label-success" style="color:#fff;"><i
                                                class="fa fa-smile-o"></i> Positive</span></h3>
                                <h4 class="item-title">Thanks for admin ...
                                    onak din dorei amon akta site khujtechilam ...</h4>
                                <div class="item-cat">
                                    <span>shihabieee</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="banner rate" style="background: #fff; border-radius: 6px 6px 0px 0px;">
                        <div class="title">
                            <h4>Today's Buy-Sell Rate</h4>
                        </div>
                        <table class="table table-bordered table-striped table-responsive" align="center">
                                <tr>
                                    <th>Accept</th>
                                    <th>Buy</th>
                                    <th>Sell</th>
                                </tr>
                                <tr>
                                    <td>Virtual Prepaid Card Visa</td>
                                    <td>00 BDT</td>
                                    <td>800 BDT</td>
                                </tr>
                                <tr>
                                    <td>DBBL Account</td>
                                    <td>00 BDT</td>
                                    <td>00 BDT</td>
                                </tr>
                                <tr>
                                    <td>Perfect Money.</td>
                                    <td>82 BDT</td>
                                    <td>90 BDT</td>
                                </tr>
                                <tr>
                                    <td>Skrill.</td>
                                    <td>90 BDT</td>
                                    <td>97 BDT</td>
                                </tr>
                                <tr>
                                    <td>Coinbase (Bitcoin)</td>
                                    <td>82 BDT</td>
                                    <td>92 BDT</td>
                                </tr>
                                <tr>
                                    <td>Payoneer</td>
                                    <td>82 BDT</td>
                                    <td>92 BDT</td>
                                </tr>
                                <tr>
                                    <td>Paypal</td>
                                    <td>74 BDT</td>
                                    <td>82 BDT</td>
                                </tr>
                                <tr>
                                    <td>DBBL Rocket</td>
                                    <td>00 BDT</td>
                                    <td>00 BDT</td>
                                </tr>
                                <tr>
                                    <td>Neteller</td>
                                    <td>90 BDT</td>
                                    <td>97 BDT</td>
                                </tr>
                                <tr>
                                    <td>Bkash Personal</td>
                                    <td>00 BDT</td>
                                    <td>00 BDT</td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="" style="background: #fff; border-radius: 6px 6px 0px 0px;">
                        <div class="title">
                            <h4>Track Exchange</h4>
                        </div>
                        <div style="padding: 8px 15px;">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ExchangeID" placeholder="Enter your exchange ID">
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="our">
                        <div class="title">
                            <h4>Our Reserve</h4>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/bikash.png" />
                            </div>
                            <div class="pay">
                                <h3>Bkash Personal<br /><small>31554 BDT</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/neteller.png" />
                            </div>
                            <div class="pay">
                                <h3>Neteller<br /><small>00 USD</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/rocket.jpg" />
                            </div>
                            <div class="pay">
                                <h3>DBBL Rocket<br /><small>26514 BDT</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/paypal.jpg" />
                            </div>
                            <div class="pay">
                                <h3>Paypal<br /><small>00 USD</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/payoneer.png" />
                            </div>
                            <div class="pay">
                                <h3>Payoneer<br /><small>50 USD</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/coinbase.jpg" />
                            </div>
                            <div class="pay">
                                <h3>Coinbase (Bitcoin)<br /><small>00 USD</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/skrill.png" />
                            </div>
                            <div class="pay">
                                <h3>Skrill.<br /><small>71.68 USD</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/perfect_money.png" />
                            </div>
                            <div class="pay">
                                <h3>Perfect Money.<br /><small>0 USD</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/dbbl.png" />
                            </div>
                            <div class="pay">
                                <h3>DBBL Account<br /><small>16878 BDT</small></h3>
                            </div>
                        </div>
                        <div class="method">
                            <div class="logos">
                                <img src="/assets/images/icons/virtual_credit_card.jpg" />
                            </div>
                            <div class="pay">
                                <h3>Virtual Prepaid Card Visa<br /><small>205 USD</small></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block jsBottom %}
    <script>
        /*$(document).ready(function () {
            $("#providerSell").on("change", function (e) {
                var selectedElement = $('#providerSell').find(":selected");
                var sellData= $(selectedElement[0]).data("sellrate");

                $("#dataSellRate").val(sellData);
            });

            $("#providerBuy").on("change", function (e) {
                var selectedElement = $('#providerBuy').find(":selected");
                var buyData= $(selectedElement[0]).data("buyrate");

                $("#dataBuyRate").val(buyData);
            });
        });*/

        $(document).on("ready", function () {
            $("#providerBuy").attr("disabled", "disabled");

            $("#providerSell").on("change", function (e) {

                var sendProvider = $(this).val();
                if(sendProvider.length < 1){
                    $("#providerBuy").attr("disabled", "disabled");
                }

                var sendProviderValue = $("#dataSellRate").val();

                if(sendProvider.length > 0){
                    $("#providerBuy").removeAttr("disabled");
                }

                $("#dataSellRate").on("keyup", function (e) {
                    console.log(parseFloat($("#dataSellRate").val()));
                })
            });
        })
    </script>
{% endblock %}

